*/dist/
*.pyc
.DS_Store
state.json
*.Rhistory
*.RData
*NAMESPACE
.Rproj.user/
*/*.Rproj
*/*.idea
/python-stubs/
preprocessing/.tox
preprocessing/output_plots
preprocessing/preprocessing.egg-info
preprocessing/preprocessing.egg-info/*
time-series-forecast/resource/*.tar.gz
time-series-forecast/resource/resource.Rcheck
.Rproj.user
preprocessing/tests/test1.py
preprocessing/tests/post_process.py
/*.vscode
dataset_sampler/dataset_sampler.egg-info/*
dataset_sampler/dataset_sampler.egg-info
*/*/*.Rproj
/*.Rproj
*.Rproj.user
time-series-forecast/resource/model_output_folder
time-series-forecast/model_output_folder
time-series-forecast/resource/*.Rproj
time-series-forecast/output_plots/
/preprocessing/*.coverage
*.coverage
time-series-forecast/resource/man
/*.idea
*.tar.gz
preprocessing/*.egg-info
/preprocessing/preprocessing_py.egg-info/
/preprocessing/.coverage
/.idea/
/postprocessing/resource/.Rbuildignore
/postprocessing/resource/resource.Rproj
/postprocessing/.Rbuildignore
/preprocessing/build/
/preprocessing/preprocessing/notes.txt
backtest_analysis/backtest_analysis.egg-info/*
backtest_analysis/backtest_analysis.egg-info
/time-series-forecast/kalman_imputation/
/preprocessing/invoker/output/
dataset_sampler/data/sample-output/France_OBU_bad/
dataset_sampler/data/sample-output/France_OBU_good/
dataset_sampler/data/sample-output/Germany_OBU_bad/
dataset_sampler/data/sample-output/Italy_OBU_bad/
dataset_sampler/data/sample-output/Japan_bad_tail_48/
dataset_sampler/data/sample-output/Spain_bad/
dataset_sampler/data/sample-output/japan_bad/
hs_err_pid32820.log
preprocessing/preprocessing/scripts/20200411073647956.csv
preprocessing/preprocessing/scripts/20200526042919156.csv
preprocessing/preprocessing/scripts/test.csv
preprocessingplotting/
.Rprofile
output_plots44000AR_PR_2001_develop.csv
output_plots44000AU_PR_1015_develop.csv
renv.lock
renv/
sh.exe.stackdump
time-series-forecast/output_plots*
/output/
*.png
autoQA/autoQA.egg-info/dependency_links.txt
autoQA/data_output/*
autoQA/data_output/
/time-series-forecast/grid_itemized_configuration/
/preprocessing/Pipfile
/preprocessing/Pipfile.lock
/time-series-forecast/test.csv
/venv/
/dataiku_utils/venv/
/time-series-forecast/test.csv
/time-series-forecast/rstudio
/time-series-forecast/rstudio/*
.bash_logout
.bash_profile
.bashrc
.bash_history
.cache/
.rstudio/
.ssh/
.viminfo
.vim
.dataiku
.gitconfig
/autoQA/autoQA.egg-info/
/autoQA/autoQA.egg-info/*
/autoQA/scripts/data_output/
/autoQA/scripts/data_output/*
