*/dist/
*.pyc
.DS_Store
state.json
*.Rhistory
*.RData
*NAMESPACE
.Rproj.user/
*/*.Rproj
*/*.idea
/python-stubs/
.Rproj.user
/*.vscode
*/*/*.Rproj
/*.Rproj
*.Rproj.user
*.coverage
/*.idea
/.idea/
.Rprofile
renv.lock
renv/
/venv/
.bash_logout
.bash_profile
.bashrc
.bash_history
.cache/
.rstudio/
.ssh/
.viminfo
.vim
.gitconfig